*:focus{
    outline: none;
}

.search-input{
    height: 40px;
    padding-left: 10px;
    margin-right: 5px;
    width: 100%;
}

#search-button{
    margin-bottom: 3px;
    background-image: url("../images/loupe.png");
    opacity: 0.4;
}

.edit-button{
    margin-top: 5px;
    background-image: url("../images/pencil.png");
    opacity: 0.8;
}

#file-save-button{
    margin-top: 5px;
    background-image: url("../images/save.png");
    opacity: 0.4;
}

.save-button{
    margin-top: 5px;
    background-image: url("../images/save.png");
    opacity: 0.8;
}

#refresh-button{
    margin-top: 5px;
    background-image: url("../images/refresh.png");
    opacity: 0.4;
}

#file-input-button{
    margin-top: 5px;
    background-image: url("../images/file.png");
    opacity: 0.8;
}

.button{
    box-shadow: 3px 3px 5px gray;
    width: 35px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 18px;
    box-shadow: 3px 3px 5px gray;
    
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button:active{
    box-shadow: 1px 1px 3px gray;
}

.input{
    border: 3px solid rgb(230,230,230);
    font-size: 16px;
    border-radius: 10px;
}

textarea{
    resize: none;
    background: rgb(243, 210, 210);
    line-height: 16px;
    max-height: 90%;
}