*:focus{
    outline: none;
}

.search-button{
    background-image: url("../images/loupe.png");
    opacity: 0.4;
    margin-bottom: 3px;
}

.edit-button{
    margin-top: 5px;
    background-image: url("../images/pencil.png");
    opacity: 0.8;
}

.save-button{
    margin-top: 5px;
    background-image: url("../images/save.png");
    opacity: 0.8;
}

.button{
    box-shadow: 3px 3px 5px gray;
    width: 35px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 18px;
    box-shadow: 3px 3px 5px gray;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button:active{
    box-shadow: 1px 1px 3px gray;
}

#file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file-input + label {
    line-height: 40px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

#file-input + label:hover {
    background-color: rgb(230,230,230);
}

.input{
    border: 3px solid rgb(230,230,230);
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
}